html body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  Font-size: 15px;
}

.bg-image {
  margin: 0;
  padding: 0;
  background-image: url(./images/scattered-forcefields.png);
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

.bg-cover {
  height: 80%;
  width: 80%;
  margin: 10vw;
  background: rgba(0, 255, 255, 0.212);
  border-radius: 16px;
  box-shadow: 10px 10px 5px lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-box {
  height: 80%;
  width: 60%;
  border-radius: 16px;
  border: solid;
  background: white;
}

.qr-box p {
  position: relative;
  margin-top: 25px;
  margin-left: 15px;
  margin-right: 15px;
  margin: bottom 2px;
  top: 60%;
}

.qr-img {
  background-image: url(./images/image-qr-code.png);
  background-size: cover;
  border-radius: 16px 16px 2px;
  height: 240px;
  margin: 10px;
}

.attribution {
  position: fixed;
  top: 95%;
  width: 100%;
  height: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: aqua;
  font-size: 20px;
}

/* ---------------------------- break point -------------------------- */
@media screen and (max-width:1440px) {
  .bg-cover {
    height: 80%;
    width: 80%;
    margin-top: 5%;
  }

  .qr-box {
    width: 30%;
    overflow: hidden;
  }

  .qr-img {
    height: 300px;
    margin-top: 5%;
    margin-bottom: 10%;
    overflow: hidden;
  }

  .bg-image p {
    font-size: 25px;
  }

  .attribution {
    width: 100%;
  }

  .attribution p {
    font-size: 15px;
  }

  .attribution a {
    font-size: 25px;
  }
}

@media screen and (max-width:1024px) {
  .bg-cover {
    width: 80%;
  }

  .qr-box {
    width: 40%;
  }

  @media screen and (max-width:768px) {
    .qr-box{
      width: 40%;
    }
    .qr-img {
      height: 225px;

    }

    .bg-image p {
      font-size: 18px;
    }

    .attribution {
      width: 100%;
    }

    .attribution p {
      font-size: 12px;
    }

    .attribution a {
      font-size: 18px;
    }
  }

  @media screen and (max-width:425px) {
    .qr-box {
      width: 50%;
      height: 60%;
    }

    .qr-img {
      height: 150PX;
      margin-bottom: 5PX;
      overflow: hidden;
    }

    .bg-image p {
      font-size: 15px;
    }

    .attribution p {
      font-size: 12px;
    }

    .attribution a {
      font-size: 15px;
    }
  }

  @media screen and (max-width:375px) {
    .bg-cover {
      width: 100%;
      height: 100%;
      margin: 0;
      overflow: hidden;
    }

    .qr-box {
      width: 70%;
      height: 60%;
      overflow: hidden;
    }

    .qr-img {
      height: 250px;
    }
  }
  @media screen and (max-width:320px){
    .qr-img{
      height: 180px;
    }
  }